<main>
    <h1  data-aos="fade-right" data-aos-duration="1100">Nuestros Abogados!</h1>
    <div class="container-vantajas">
        <div class="ventajas"  data-aos="fade-up" data-aos-duration="1200">
            <img src="https://static.wixstatic.com/media/5bfb6f_5577b01919214f47ad5236247965ec04.jpg/v1/fill/w_195,h_220,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5bfb6f_5577b01919214f47ad5236247965ec04.jpg" alt="">
            <h3>Abogado 1</h3>
            <p>Abo1@gmail.com <br>  +591 62729172</p>
            <button>Contactar!</button>
        </div>
        <div class="ventajas"  data-aos="fade-up" data-aos-duration="1300">
            <img src="https://static.wixstatic.com/media/5bfb6f_60ff20475dbc447f92c81fdcc6a6a7c1.jpg/v1/fill/w_192,h_220,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5bfb6f_60ff20475dbc447f92c81fdcc6a6a7c1.jpg" alt="">
            <h3>Abogado 2</h3>
            <p>Abo2@gmail.com <br>  +591 726430182</p>
            <button>Contactar!</button>
        </div>
        <div class="ventajas"  data-aos="fade-up" data-aos-duration="1500">
            <img src="https://static.wixstatic.com/media/5bfb6f_1cafad56984b4997bd73792b008c6fc3.jpg/v1/fill/w_193,h_220,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5bfb6f_1cafad56984b4997bd73792b008c6fc3.jpg" alt="">
            <h3>Abogado 3</h3>
            <p>Abo3@gmail.com <br>  +591 73718293</p>
            <button>Contactar!</button>
        </div>
    </div>
</main>


<style>
    main{
        width: 100%;
        height: 70vh;
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap:140px;
        margin-top: 100px;
    }
    button{
        padding: 13px 21px;
        background-color: #134B70;
        color: #fff;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    .container-vantajas{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        gap: 100px;
        margin-bottom: 100px;
    }
    .ventajas{
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    p{
        color: #508C9B;
    }
    h1,h3{
        color: #134B70;
    }
</style>