<footer>
  <div class="footer-content">
    <div class="arriba">
        <a href="" class="link1">Acerca de Nosotros</a>
        <a href="" class="link1">Servicios</a>
        <a href="" class="link1">Privacidad y Seguridad</a>
        <a href="" class="link1">Contacto!</a>
      </div>
      <div class="abajo">
        <a href="" class="link2">Nuestros Abogados</a>
        <a href="" class="link2">Nuestros Docentes</a>
        <a href="" class="link2">+592 65729471</a>
        <a href="" class="link2">TheMerChaLabog@gmail.com</a>
      </div>
  </div>
  <div class="redes">
    <a href="">Instagram</a>
    <a href="">Twiter</a>
  </div>
</footer>

<style>
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 180px;
        background-color: #201E43;
        gap: 650px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .arriba{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 85px;
        max-width: 800px;
    }

    .redes{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px   ;
    }
    .abajo{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 85px;
        max-width: 500px;
    }
    a{
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
    }
</style>