<main >
<div class=" container-practice" >
    <div class="lado-izquierdo" >
        <h1  data-aos="fade-right" data-aos-duration="1000">AREAS DE PRACTIAS</h1>
        <p  data-aos="fade-right" data-aos-duration="1000">Estas son las Areas donde los estudiantes pueden hacer sus practicas profesionales!!</p>
    </div>
    <div class="lado-derecho">
        <div
         class="practica1" 
        data-aos="fade-up"
          data-aos-duration="1000">
            <div class="area1">
                <h1>LITIGACIÓN</h1>
                <a href="">Entra a ver mas Sobre: Litigacion</a>
            </div>
            <div class="area1">
                <h1>INSOLVENCIA</h1>
                <a href="">Entra a ver mas Sobre: Insolencia</a>
            </div>
            <div class="area1">
                <h1>RESOLUCIÓN DE <br> DISPUTAS
                </h1>
                <a href="">Entra a ver mas Sobre: Resolucion</a>
            </div>
        </div>
        <div class="practica2" data-aos="fade-down"  data-aos-duration="1000">
            <div class="area2">
                <h1>NEGOCIOS</h1>
                <a href="">Entra a ver mas Sobre: Negocios</a>
            </div>
            <div class="area2">
                <h1>FRAUDE</h1>
                <a href="">Entra a ver mas Sobre: Fraudes</a>
            </div>
            <div class="area2">
                <h1>IMPUESTOS</h1>
                <a href="">Entra a ver mas Sobre: Impuestos</a>
            </div>
        </div>
    </div>
</div>
</main>

<style>
  
    p,a{
        
    }
    .container-practice{
        display: flex;
        height: 60vh;
        width: 100%;
        flex-wrap: wrap
    }
    .lado-izquierdo{
        display: flex;
        width: 50%;
        color:#EEEEEE;

        gap: 10px;
        flex-direction: column;
        align-items: center;
        background-color: #134B70;
        justify-content: center;
        flex-wrap: wrap
        color: rgb(3, 28, 68);
    }
    .practica1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap
        height: 100%;
        padding: 20px;
    }
    .practica2{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap
        height: 100%;
    }

    .lado-derecho{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 50%;
        color: #004f4f;
    }
    .area1{
        padding: 50px;
        width: 100%;
        text-align: center;
    }
    .area2{
        padding: 50px;
        width: 100%;
        text-align: center;
    }
    .area1,.area2 h1{
        color: #134B70;
    }
 
</style>