---
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

import 'aos/dist/aos.css'; // [!code ++]

import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
			<Nav/>
		<main>
			<slot />
		</main>
			<Footer/>


		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
		<script> // [!code ++]
			import AOS from "aos"; // [!code ++]
			AOS.init(); // [!code ++]
		  </script> 
	</body>
</html>
<style is:global>
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	body {
		font-family: 'Roboto', sans-serif;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	main {
		flex: 1;
	}

	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
</style>